html {
    height: 100%;
}
body {
    margin:0;
    min-height: 100%;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.grid-header{
    grid-area: header;
}
.grid-main{
    grid-area: main;
}
.grid-footer{
    grid-area: footer;
}

footer{
    color: white;
    background: #2C3E50;
}
#map{
    height:100%;
    width: 100%;
    position: absolute; top: 0; left: 0;
}

.title {
    background: #FCFCFC;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-block {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input {
    width: 100%;
    color: black;
    border: 1px solid black;
}

.filterT {
    padding-bottom: 10px;
}
.nav {
    text-align: right;
    margin-right: 100px;
}

.vertical-line {
    border-right: 1px solid #b4b8bf;
    height: 100%;
}
.form-control{
    color: black;
    font-size: 1.2rem;
}

.form-control-black {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.navbar {
    font-size: 22px;
    letter-spacing: 0.5px;
}

.card{
    margin: 20px 0 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/*Для card*/

#content {
    height: 100%;
    position: relative;
}

#left {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    min-height: calc(100vh - 349px);
    background: #FCFCFC;
    float: left;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 10px;
}
.left-sticky{
    top:0;
    position: sticky;
}

#right {
    padding: 0 10px 0 10px;
    float: right;
    width: 100%;
    height: 100%;
}

.info1 {
    text-align: center;
    font-weight: bold;
}

hr {
    background-color: #2C3E50;
    margin: 0;
    border-top: 15px solid rgba(0, 0, 0, 0.1);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #a1a1a1;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.cardT2 {
    color: #3366CC;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

@media (max-width: 360px) {
    .cardT2 {
        color: #3366CC;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }
    .fs{
        font-size: 17px;
    }

}

@media (max-width: 340px) {
    .cardT2 {
        color: #3366CC;
        font-size: 1.65rem;
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }
}
.searchbtn {
    letter-spacing: 0.5px;
    font-size: 1.3rem;
}

/* pagination */
.pg{
    margin-top: 5px;
    display: flex;

}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}
.pagination > .active > a{
    background-color: #2C3E50 ;
    border-color: #2C3E50 ;
    color: #fff;
}
.pagination > .active > a:hover{
    background-color: #2C3E50 ;
    border-color: #2C3E50 ;
    color: #fff;
}
.pagination > li > a{
    border: 1px solid #2C3E50 ;
    /*background: whitesmoke;*/
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #2C3E50 ;
    border-color: #2C3E50;
    outline: none ;
}
.pagination > li > a, .pagination > li > span{
    color: white;

}
.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius: 20% 0 0 20%;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 0 20% 20% 0;
}

.card:before{

}
.loading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    width: 100%;
}
@media (max-width: 376px) {
    .pagination{
        font-size: 16px;
    }
    .pagination > li > a {
        padding: 5px 8.5px;
    }
}


.card {
    margin: 20px 0 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.cardT1 {
    font-weight: bold;
    color: #3366CC;
    text-decoration: none;
}

/*sidebar-left*/
.sidebar{
    top:0;
    position: fixed;
    right: 0;
    width: 500px;
    height: 100%;
    background: #2C3E50;
    transition: all .5s ease;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    padding-right: 15px;
}

#check {
    display: none;
}

label #arrow, label #cancel {
    cursor: pointer;
    background: #2C3E50;
    color: white;
    min-width: 40px;
    width: 2.5vw;
    text-align: center;
    transition: all .5s ease;
    padding: 25% 0 0 0;
    position: fixed;
    z-index: 2;
}
label #cancel {
    opacity: 0;
    visibility: hidden;
}

@media (min-device-width: 751px) {
    label #arrow, label #cancel {
        top: 0;
        height: 100%;
    }
    label #arrow, label #cancel {
        right: 500px;
    }
    #check:checked ~ label #arrow {
        margin-right: -500px;
        opacity: 0;
        visibility: hidden;
    }

    #check:checked ~ label #cancel{
        margin-right: -500px;
        opacity: 1;
        visibility: visible;
    }

    #check:checked ~ .sidebar {
        right: -500px;
    }
}

@media (max-device-width: 750px) {

    label #arrow, label #cancel {
        bottom: 0;
        padding: 2% 0 2% 0;
        border-radius: 20px 0 0 0;
    }
    label #arrow, label #cancel {
        right: 0;
    }
    .sidebar {
        border-left: 15px solid #2C3E50;
        width: 100vw!important;
    }
    .fa-2x {
        font-size: 1.5em;
    }
    .container-legend {
        border-radius: 0 !important;
    }
    #check:checked ~ label #arrow {
        margin-right: 0px;
        opacity: 0;
        visibility: hidden;
    }

    #check:checked ~ label #cancel{
        margin-right: 0px;
        opacity: 1;
        visibility: visible;
    }

    #check:checked ~ .sidebar {
        right: -100vw;
    }

}


.container-legend{
    padding: 0 10px 0 10px;

}

.legend-text:before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 1% 0 1% 0;
    background-color: #2C3E50;
}

.hr1{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 1% 0 1% 0;
    background-color: #40FF40;
}
.hr2{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 1% 0 1% 0;
    background-color: #20AA20;
}

.hr3{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 1% 0 1% 0;
    background-color: #CC9900;
}
.hr4{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 1% 0 1% 0;
    background-color: #AA2020;
}
.hr5{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 1% 0 1% 0;
    background-color: #FF2020;
}
.container-legend{
    background: white;
    border-radius: 10px;
    padding: 20px;
    position: center;
}
.header-sidebar{
    box-shadow: none!important;
    color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
    background: #2C3E50;
}
.header-text{
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 1.7rem;
}
.wrapper-side, .wrapper-side input {
    background: #2C3E50;
    width: 100vw;
}
.c{
    display: flex;
}
.legend-text-about{
    background: rgba(255, 192, 0, 0.22);
    border-radius: 15px;
    padding: 10px;
}

  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0px auto 50px;
  }
  
  .notfound .notfound-404>div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffa200;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
  }
  
  .notfound .notfound-404>div:first-child:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Cabin', sans-serif;
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  
  .notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  .notfound p {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  
  .notfound a {
    font-family: 'Cabin', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    background-color: #8f8f8f;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    background-color: #2c2c2c;
  }