{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Живые НКО</title>
    <link rel="stylesheet"
          href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
</head>
<body style="font-family: Playfair Display; font-size: 16px">
      
<div id="root"></div>

</body>
<script src="{% static 'frontend/main.js' %}"></script>
</html>